@model List<Domain.ViewModel.Product.CategoryAdmin.CategoryListViewModel>
@{
    ViewData["Title"] = "لیست دسته بندی های لیست";
    var id = ViewData["parentid"] as int?;
}
<div class="card">
    <div class="d-flex justify-content-between me-3">
        <h5 class="card-header">@ViewData["Title"]</h5>
        @if (id == null)
        {
            <a asp-controller="ProductCategory" asp-area="Admin" asp-action="CreateBaseCategory"
               class="btn btn-success">افزودن</a>
        }

    </div>

    <div class="table-responsive text-nowrap">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>

                        <th>آیدی</th>
                        <th>عنوان</th>
                        <th>عملیات</th>

                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var category in Model)
                    {

                        <tr>
                            <td> <strong>@category.CategoryId</strong></td>
                            <td>@category.Title</td>

                            <td>
                                @if (id == null)
                                {
                                    <a asp-controller="ProductCategory" asp-area="Admin" asp-action="CreateSubCategory"
                                       asp-route-parentid="@category.CategoryId" class="btn m-1 btn-success">افزودن زیر مجموعه<i class="fa-regular fa-square-plus"></i></a>
                                }
                                <a asp-controller="ProductCategory" asp-area="Admin" asp-action="EditBaseCategory"
                                   asp-route-categoryid="@category.CategoryId" class="btn m-1 btn-warning btn-lg"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a asp-controller="ProductCategory" asp-area="Admin" asp-action="BaseCategoryList"
                                   asp-route-categoryid="@category.CategoryId" class="btn m-1 btn-primary btn-lg"><i class="fa-solid fa-info"></i></a>
                                <a asp-controller="ProductCategory" asp-area="Admin" asp-action="DeleteBaseCategory"
                                   asp-route-categoryid="@category.CategoryId" class="btn m-1 btn-danger btn-lg"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        }
        else
        {
            <p> nothing</p>
        }

    </div>
</div>


