@using Application.Tools
@model Domain.ViewModel.User.Admin.UserDetailViewModel
@{
    ViewData["Title"] = "جزییات کاربر";
}
<div class="card mb-4">
    <div class="card-body">
        <div class="user-avatar-section">
            <div class="d-flex align-items-center flex-column">
                <img class="img-fluid rounded my-4" src="/Admin/img/avatars/SiteAvatar.jpg" height="110" width="110"
                     alt="User avatar">
                <div class="user-info text-center">
                    <h4 class="mb-2">@Model.FirstName @Model.LastName</h4>
                    <span class="badge bg-success">کاربر</span>
                </div>
            </div>
        </div>

        <h5 class="pb-2 border-bottom mb-4">جزییات</h5>
        <div class="info-container">
            <ul class="list-unstyled">
                <li class="mb-3">
                    <span class="fw-bold me-2">نام:</span>
                    <span>@Model.FirstName</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">نام خانوادگی:</span>
                    <span>@Model.LastName</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">ایمیل:</span>
                    <span>@Model.Email</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">تاریخ ثبت نام:</span>
                    <span>@Model.CreatedDate.ToShamsi() @Model.CreatedDate.ToString("hh:mm:ss")</span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">ادمین </span>
                    <span class=" @(!Model.IsAdmin ? "badge bg-danger" : "badge bg-success")">
                        @if (Model.IsAdmin)
                        {
                            <text>بله</text>
                        }
                        else
                        {
                            <text>خیر</text>
                        }
                    </span>
                </li>
                <li class="mb-3">
                    <span class="fw-bold me-2">فعال :</span>
                    <span class=" @(!Model.IsActive ? "badge bg-danger" : "badge bg-success")">
                        @if (Model.IsActive)
                        {
                            <text>فعال</text>
                        }
                        else
                        {
                            <text>غیر فعال </text>
                        }
                    </span>
                </li>

            </ul>
            <div class="d-flex justify-content-center pt-3">
                <a asp-controller="User" asp-action="EditUser" asp-area="Admin" asp-route-UserId="@Model.Id"
                   class="btn btn-lg btn-warning me-3" data-bs-target="#editUser" data-bs-toggle="modal"><i
                        class="fa-solid fa-pen-to-square"></i></a>
                <a asp-area="Admin" asp-controller="User" asp-action="DeleteUser"
                   class="btn btn-lg btn-danger suspend-user"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
    </div>
</div>
