@model List<Domain.ViewModel.User.Admin.UserListViewModel>
@{
    ViewData["Title"] = "لیست کاربران";
}

<div class="card">
    <h3 class="card-header">@ViewData["Title"]</h3>
    <div class="table-responsive text-nowrap">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                <tr>
                    <th>کد</th>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>ایمیل</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                @foreach (var user in Model)
                {
                    <tr>
                        <td>> <strong></strong>@user.Id</td>
                        <td>@user.FirstName</td>
                        <td>
                            @user.LastName
                        </td>
                        <td><span class="badge bg-label-success me-1">@user.Email</span></td>
                        <td>
                            <a asp-controller="User" asp-area="Admin" asp-action="EditUser" asp-route-UserId="@user.Id"
                               class="btn btn-label-warning">ویرایش کاربر</a>
                            <a asp-controller="User" asp-area="Admin" asp-action="DeleteUser"
                               asp-route-UserId="@user.Id" class="btn btn-label-danger">حدف</a>
                            <a asp-controller="User" asp-area="Admin" asp-action="UserDetail"
                               asp-route-UserId="@user.Id" class="btn btn-label-primary">جزییات</a>
                                <a asp-controller="Notification" asp-area="Admin" asp-action="AddNewNotification"
                                   asp-route-userId="@user.Id" class="btn btn-label-primary">ارسال پیام</a>
                        </td>
                    </tr>
                }


                </tbody>
            </table>
        }

    </div>
</div>


