@using Application.Tools
@model IEnumerable<Domain.ViewModel.Product.Product.ProductViewModel>

<h2>مدیریت محصولات</h2>

@if (Model.Count() != 0 && Model.Any())
{
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>نام محصول</th>
                <th>تصویر</th>
                <th>دسته‌بندی</th>
                <th>قیمت</th>
                <th>موجودی</th>
                <th>جزئیات</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>
                        <img src="@PathTools.FilePath@product.ImageName" alt="@product.ProductName" style="width: 75px; height: 75px;" />
                    </td>
                    <td>@product.SubCategoryTitle</td>
                    <td>@product.Price</td>
                    <td>@product.Inventory</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-info btn-sm">مشاهده جزئیات</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>محصولی برای نمایش وجود ندارد.</p>
}