@using Application.Tools
@{
    ViewData["Title"] = "لیست محصولات";
}
@model Domain.ViewModel.Product.Product.FilterProductViewModel

<h2>لیست محصولات</h2>

@if (Model.Entities.Count() != 0 && Model.Entities.Any())
{
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>نام محصول</th>
                <th>تصویر</th>
                <th>دسته‌بندی</th>
                <th>قیمت</th>
                <th>موجودی</th>
                <th>جزئیات</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var product in Model.Entities)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>
                        <img src="@PathTools.FilePath@product.ImageName" alt="@product.ProductName" style="width: 75px; height: 75px;" />
                    </td>
                    <td>@product.SubCategoryTitle</td>
                    <td>@product.Price</td>
                    <td>@product.Inventory</td>
                    <td>
                        <a asp-action="UpdateProduct" asp-area="Admin" asp-controller="Product" asp-route-Productid="@product.Id" class="btn btn-info btn-sm">مشاهده جزئیات</a>
                        <a asp-area="Admin" asp-controller="Product" asp-action="ShowProductGallery" asp-route-Productid="@product.Id" class="btn btn-warning btn-sm">مشاهده گالری محصول</a>
                        <a asp-controller="ProductColor" asp-area="Admin" asp-action="AddProductColor" asp-route-productId="@product.Id" class="btn btn-success btn-sm">افزودن رنگ به محصول</a>
                        <a asp-controller="ProductSpecification" asp-area="Admin" asp-action="AddNewSpecification" asp-route-productId="@product.Id" class="btn btn-instagram btn-sm">افزودن مشخصات به محصول</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>محصولی برای نمایش وجود ندارد.</p>
}