@using Application.Tools
@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.ViewModel.User.Admin.AdminPanelViewModel

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y" dir="rtl">
    <div class="row">
        <div class="col-lg-8 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title text-primary">@User.Identity.Name عزیز خوش آمدید!</h5>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="/Admin/img/illustrations/man-with-laptop-light.png"
                                 height="140"
                                 alt="View Badge User"
                                 data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                 data-app-light-img="illustrations/man-with-laptop-light.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 order-1">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body pb-0">
                            <span class="d-block fw-semibold mb-1">سفارشات</span>
                            <h3 class="card-title mb-1">K @Model.OrderAmount</h3>
                        </div>
                        <div id="orderChart" class="mb-3"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="/Admin/img/icons/unicons/wallet-info.png"
                                         alt="Credit Card"
                                         class="rounded"/>
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt6"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                                        <a class="dropdown-item" href="javascript:void(0);">مشاهده بیشتر</a>
                                        <a class="dropdown-item" href="javascript:void(0);">حذف</a>
                                    </div>
                                </div>
                            </div>
                            <span>فروش</span>
                            <h3 class="card-title text-nowrap mb-1">@Model.SalesAmount</h3>
                            <span class="currency">تومان</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mini Tables Section -->
    <div class="row">
        <!-- Contact Us Table -->
        <div class="col-md-6 mb-4" invoke-permission="ContactUsList">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">تماس با ما</h5>
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th>نام</th>
                                <th>موضوع</th>
                                <th>پاسخ داده شده</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var contact in Model.ContactUsList.Take(3))
                            {
                                <tr>
                                    <td>@contact.FullName</td>
                                    <td>@contact.Subject</td>
                                    <td>
                                        @if (contact.IsAnswered)
                                        {
                                            <span class="badge bg-danger rounded-pill">بسته</span>
                                        }
                                        else if (contact.IsAnswered == false)
                                        {
                                            <span class="badge bg-warning rounded-pill">در حال بررسی</span>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- Button for Contact Us -->
                    <div class="text-center mt-3">
                        <a asp-area="Admin" asp-controller="ContactUs" asp-action="MessageList" class="btn btn-primary">
                            مشاهده همه
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tickets Table -->
        <div class="col-md-6 mb-4" invoke-permission="TicketList">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">تیکت‌ها</h5>
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th>شناسه تیکت</th>
                                <th>موضوع</th>
                                <th>وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var ticket in Model.TicketList.Take(3))
                            {
                                <tr>
                                    <td>@ticket.Ticketid</td>
                                    <td>@ticket.Section.GetDisplayName()</td>
                                    <td>@if (ticket.Status == TicketsEnum.Status.IsAnswered)
                                        {
                                            <span class="badge bg-success rounded-pill">پاسخ داده
                                                    شد</span>
                                        }
                                        else if (ticket.Status == TicketsEnum.Status.InProgress)
                                        {
                                            <span class="badge bg-warning rounded-pill">در حال
                                                    بررسی</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger rounded-pill">بسته</span>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- Button for Tickets -->
                    <div class="text-center mt-3">
                        <a asp-area="Admin" asp-controller="AdminTicket" asp-action="AllTicketList"
                           class="btn btn-primary">
                            مشاهده همه
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Discounts Table -->
    <div class="row justify-content-center" invoke-permission="DiscountList">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">تخفیف‌ها</h5>
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th>کد تخفیف</th>
                                <th>مقدار تخفیف</th>
                                <th>وضعیت</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var discount in Model.ActiveDiscountList.Take(3))
                            {
                                <tr>
                                    <td>@discount.Code</td>
                                    <td>@discount.Value</td>
                                    <td>
                                        @if (discount.IsPercentage)
                                        {
                                            <span class="badge bg-success rounded-pill">
                                                    درصدی
                                                </span>
                                        }
                                        else if (!discount.IsPercentage)
                                        {
                                            <span class="badge bg-warning rounded-pill">
                                                    مقدار ثابت
                                                </span>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- Button for Discounts -->
                    <div class="text-center mt-3">
                        <a asp-area="Admin" asp-controller="Discount" asp-action="DiscountList" class="btn btn-primary">
                            مشاهده همه
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->