@using Application.Tools
@using Domain.Enums
@using Microsoft.IdentityModel.Tokens
@model IEnumerable<Domain.ViewModel.Image.BannerFixViewModel>
@{
    ViewData["Title"] = "مدیریت بنر ها";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>عکس</th>
                <th>مکان در صفحه</th>
                <th>لینک عکس</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>

            @if (Model.IsNullOrEmpty())
            {
                <div class="alert alert-danger">عکس اضافه کنید</div>
            }
            @foreach (var banner in Model)
            {
                <tr>
                    <td>@banner.Id</td>
                    <td>
                        <div class="banner-div"><img class="banner-img" src="@PathTools.FixedBannerPath@banner.Title" alt="Fixed Banners"/>
                        </div>
                    </td>
                    <td>@ImageEnum.BannerHelper.GetBannerTitle(banner.Position)</td>
                    <td><a href="@banner.Link"><i class="fa-solid fa-link"></i></a></td>
                    <td>
                        <a asp-action="Edit" asp-controller="Image" asp-area="Admin" asp-route-title="@banner.Title"
                           class="btn m-1 btn-warning btn-lg"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form method="post" asp-action="DeleteFixedImage" asp-controller="Image" asp-area="Admin" asp-route-title="@banner.Title">
                        <button type="submit" class="btn m-1 btn-danger btn-lg"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<hr/>
<a asp-action="AddFixedBanner" asp-controller="Image" asp-area="Admin" class="btn btn-primary btn-lg">اضافه کردن عکس</a>
