@using Application.Tools
@using Domain.Enums
@using Microsoft.IdentityModel.Tokens
@using Application.Tools
@model System.Collections.Generic.IEnumerable<Domain.ViewModel.Image.BannerFixViewModel>
@{
    ViewData["Title"] = "مدیریت بتر ها";
}

<div class="container mt-5">
    <h3 class="mb-4">مدیریت بنر ها</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>عکس</th>
            <th>مکان در صفحه</th>
            <th>لینک عکس</th>
            <th>عملیات</th>
        </tr>
        </thead>
        <tbody>
        <div class="d-flex justify-content-start mb-3">
            <a asp-action="AddFixedBanner" asp-controller="Image" asp-area="Admin" class="btn btn-primary">اضافه کردن عکس</a>
        </div>
        @if (Model.IsNullOrEmpty())
        {
            <div class="alert alert-danger">عکس اضافه کنید</div>
        }
        @foreach (var banner in Model)
        {
            <tr>
                <td>@banner.Id</td>
                    <td><div class="banner-div"><img class="banner-img" src="@PathTools.FixedBannerPath@banner.Title" /></div></td>
                    <td>@ImageEnum.BannerHelper.GetBannerTitle((Domain.Enums.ImageEnum.Banner)banner.Position)</td>
                <td>@banner.Link</td>
                <td>
                        <a asp-action="Edit" asp-controller="Image" asp-area="Admin" asp-route-title="@banner.Title" class="btn btn-warning btn-sm">ویرایش</a>
                        <a asp-action="DeleteFixedImage" asp-controller="Image" asp-area="Admin" asp-route-title="@banner.Title" class="btn btn-danger btn-sm">حذف</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>